html {
  scroll-behavior: smooth;
}

#navlist {
  list-style: none;
}

#navlist a {
  text-decoration: none;
  color: black;
}

#ally {
  max-width: 70%;
}

.tabs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}

.tabs-wrapper input {
  display: none;
}

.tabs-wrapper label {
  border-radius: 50px;
  padding: 5px 0px;
  background: #f5f5f5;
}

.tabs-wrapper input:checked + label {
  background: #686868;
  color: white;
}

#tab1:checked ~ .tab-images #panel1,
#tab2:checked ~ .tab-images #panel2,
#tab3:checked ~ .tab-images #panel3 {
  display: grid;
}

.tab-images section {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.tab-images img {
  width: 100%;        /* passt sich an Spalte an */
  border-radius: 10px; /* runde Ecken */
}

.uxproject {
  height: 150px;              
  border-radius: 10px;
  display: grid;
  place-items: center;
  background-size: cover;  
  font-size: 1.5rem;
  text-align: center;
  border: 8px solid white;
}

.uxproject h3 {
  background: white;
  color: black;
  padding: 10px 20px;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  #ally {
    max-width: 10%;
  }
  
  .tab-images section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  #ally {
    max-width: 40%;
  }

  .tab-images section {
    grid-template-columns: repeat(4, 1fr);
  }
}