html {
  scroll-behavior: smooth;
}

#navlist {
    list-style: none;
}

#navlist a {
    text-decoration: none;
    color: black;
}

#ally {
    max-width: 70%;
  }

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tabs input {
  display: none;
}
.tabs label {
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 50px;
}
.tabs input:checked + label {
  background: #686868;
  color: white;
}
  
  @media (min-width: 768px) {
#ally {
    max-width: 10%;
}
  }
  
  @media (min-width: 1200px) {
    #ally {
      max-width: 40%;
    }
  }